@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i);

#content5-1x .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-1x .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-1x .mbr-article {
  color: #fff;
}
#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-0 .mbr-navbar__items a {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
}
#header3-1v H3 {
  color: #f97352;
  text-align: center;
}
#features1-6 P {
  color: #ffffff;
  text-align: left;
  font-size: 14px;
}
#header3-1s H3 {
  text-align: center;
}
#gallery2-a SMALL {
  text-align: center;
}
#header3-q H3 {
  text-align: center;
}
#footer1-i P {
  text-align: center;
}


#content5-w .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
  font-size: 30px;
}
#content5-w .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-w .mbr-article {
  color: #000000;
}
#content5-w .mbr-article P {
  text-align: center;
  font-family: 'PT Serif', serif;
}
#ext_menu-s .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-s.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-s .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-s .mbr-navbar__items a {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
}
#footer1-u P {
  text-align: center;
}


#content5-z .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
  font-size: 30px;
}
#content5-z .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-z .mbr-article {
  color: #000000;
}
#content5-z .mbr-article P {
  text-align: center;
  font-family: 'PT Serif', serif;
}
#ext_menu-11 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-11.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-11 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-11 .mbr-navbar__items a {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
}
#footer1-12 P {
  text-align: center;
}


#ext_menu-17 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-17.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-17 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-17 .mbr-navbar__items a {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
}
#footer1-18 P {
  text-align: center;
}
#content5-15 .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
  font-size: 30px;
}
#content5-15 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-15 .mbr-article {
  color: #000000;
}
#content5-15 .mbr-article P {
  font-family: 'PT Serif', serif;
  text-align: center;
}


#content5-1b .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
  font-size: 30px;
}
#content5-1b .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #000000;
}
#content5-1b .mbr-article {
  color: #000000;
}
#content5-1b .mbr-article P {
  text-align: center;
  font-family: 'PT Serif', serif;
}
#ext_menu-1d .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-1d.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-1d .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-1d .mbr-navbar__items a {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
}
#footer1-1e P {
  text-align: center;
}

#ext_menu-1i .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-1i.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-1i .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-1i .mbr-navbar__items a {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
}
#content5-23 .mbr-header .mbr-header__text {
  text-align: center;
  color: #efefef;
}
#content5-23 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-23 .mbr-article {
  color: #fff;
}
#content4-2d .mbr-section__col .mbr-header__text {
  font-size: 32px;
}
#content4-2d P {
  text-align: center;
  font-size: 14px;
}
#footer1-1r P {
  text-align: center;
}
